.bigframe {
    width: 90%;
    height: 60%;
    border-radius: 20px
}

.display {
    display: flex;
    justify-content: center;
    padding-bottom: 85px;
    padding-top: 15px;
}

.logo {
    height: auto;
    width: 15%;
}

.topnav {
    overflow: hidden;
    padding: 20px;
  }
  
  .topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

.display .logo{
    height: auto;
    width: 25%;
}
.head {
    display: flex;
    justify-content: center;
}

.pill {
    width: 40%;
    height: 70%;
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
}

.secondhero {
    border-radius: 40px 40px 0 0;
}

body {
    background-color: #2E2E2E;
    display: flex;
    flex-direction: column;
}

#aline {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 60px;
}

.underbox {
    border-radius: 0 0 15px 15px;
    background-color: rgb(62, 61, 61);
    height: 300px;
}

.underbox h3 {
    text-align: left;
}

.underbox p{
    text-align: left;
}

.controlla {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.topbox{
    background-color: rgb(62, 61, 61);
    height: 500px;
    width: 500px;
    border-radius: 15px;
    margin-left: 170px;
}

.topbox p {
    text-align: left;
}

.topbox h3 {
    text-align: left;
}

.knap {
    display: flex;
    justify-content: center;
    border-radius: 50px;
    width: 65%;
    border: 2px;
    border-style: solid;
    border-color: white;
    margin-top: 190px;
}

.knap p {
    text-align: center;
    padding: 10px;
}

.behindbillede {
    height: auto;
    width: 50%;
    position: relative;
    left: 600px;
    top: -460px;
    z-index: -1;
    border-radius: 15px;
}

.knapstyrer {
    display: flex;
    justify-content: center;
}

.topbox2{
    background-color: rgb(62, 61, 61);
    height: 500px;
    width: 500px;
    border-radius: 15px;
    margin-right: 200px;
}

.behindbillede2 {
    height: auto;
    width: 50%;
    position: relative;
    left: 40px;
    top: -460px;
    z-index: -1;
    border-radius: 15px;
}

.behindbox {
    height: 200px;
}

.controlla2 {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    flex-direction: row-reverse;
}

.topbox2 p {
    text-align: left;
}

.topbox2 h3 {
    text-align: left;
}

.logobox{
    width: 200px;
    height: 200px;
    margin: 20px;
    background-color: rgb(62, 61, 61);
    padding: 20px;
    border-radius: 15px;
    position: relative;
}

.staaret {
    width: 75%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.flex-styrer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#knap {
    display: flex;
    justify-content: center;
    border-radius: 50px;
    width: 30%;
    border: 2px;
    border-style: solid;
    border-color: white;
    margin-top: 20px;
}

#knap p {
    text-align: center;
    padding: 10px;
}

/* Signes verden */

* {
   margin: 0;
}

.grey-background {
 background-color: #3F3F3F;
}


h2, h3, h4, p, a {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h2, p {
    padding: 10px 20px 40px 20px;
}

h3, h4 {
    padding: 40px 20px 0px 20px;
}

h2 {
    font-size: 40px;
    font-weight: 200;
}

h3 {
    font-size: 30px;
    font-weight: 200;
}

h4 {
    font-size: 20px;
}

p {
    font-size: 15px;
    line-height: 25px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    padding: 40px;
}

.img-cocacola {
    border-radius: 20px;
    height: auto;
    width: 45%;
}

.img-cocacolahjælp {
    padding: 40px;  
    height: auto;
    width: 70%;
}

.center-img{
    display: flex;
}

.center-text {
    margin:auto;
    text-align: left;
    padding-right:10%;
}

.bold {
    font-weight: bold;
}

.underline {
    text-decoration: underline;
}

.margin-text {
    padding: 0px 40px 0px 40px;
}

.margin-img {
    margin: 40px 0px 40px 0px;
}

.flex-container2 {
    display: flex;
    justify-content: center;
}

.text-padding {
    padding: 20px 200px 0px 200px;
}

.box-kontakt {
    background-color: #2E2E2E;
    width: 90%;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
}

.box-text {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 40px;
}

.flex-container3 {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

.big-text {
    font-size: 35px;
}

.small-text {
    font-size: 15px;
}

.border-box {
    border-style: solid;
    border-color: white;
    border-radius: 20px;
    padding: 10px 90px 10px 90px;
    margin-top: 38px;
}

.center-text2 {
    margin-left: 100px;
    text-align: left;
    padding-right:10%;
    margin-top: auto;
    margin-bottom: auto;

}

.dk-img {
    margin-left: 50px;
}

.footer-text-right {
    text-align: right;
    padding: 30px;
}

.footer-logo {
    height: 100%;
    width: 300px;
}

.flex-container4 {
    display: flex;
    justify-content: space-between;
    margin: 60px;
}

.flex-container5 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flex-container5 p {
    padding: 0;
    text-align: left;
    margin-left: 60px;
}

.overskrift-footer {
    opacity: 80%;
}

.line {
    border-style: solid;
    border-color: white;
    border-width: 1px;
    width: 90%;
    margin: 20px auto 20px auto;
  }

  .overskrift {
    padding: 35px;
  }

  .border-box1 {
    border-style: solid;
    border-color: white;
    border-radius: 20px;
    padding: 10px 90px 10px 90px;
    margin-top: 10px;
}